extends layout

block content
  h1= title
  p Welcome to #{title}

  button#insertValidData Insert Valid Data
    button#getAll Get All
    button#EmptyCollection Empty Collection
    button#Update Update

  pre#display
